<%- include("header") -%>

<div class="container-fluid whole-container">
    <h1 class="about-header">About Us</h1>

    <p class="about-desc">
        Mero Tutor is a leading online platform dedicated to connecting students with skilled and experienced tutors. Our mission is to provide a seamless and efficient way for students to find the perfect tutor who can meet their unique learning needs. We understand the importance of quality education and the impact a great tutor can have on a student's academic success. With Mero Tutor, we strive to make the tutor finding process simple, convenient, and reliable.

At Mero Tutor, we have curated a diverse community of highly qualified tutors who specialize in various subjects and disciplines. Our rigorous selection process ensures that only the best tutors with exceptional expertise and a passion for teaching join our platform. We take pride in offering students a wide range of options, enabling them to find the tutor that best aligns with their goals, learning style, and schedule.

With our user-friendly interface and intuitive search features, students can easily browse through tutor profiles, read reviews and ratings, and select the tutor that fits their requirements. We prioritize transparency and strive to foster a supportive learning environment, where students can engage with tutors and gain the confidence and knowledge needed to excel academically. Trust Mero Tutor to connect you with a dedicated tutor who will guide you towards achieving your educational goals.
    </p>

</div>

<%- include("footer") -%>