<%- include("header") -%>
<!-- register for teacher -->


<div class="container">
    <div class="py-5 text-center">
        
        <h2>Become a Teacher</h2>
        <p class="lead">Please fill out the form below.</p>
    </div>

    
        <div class="col-md-12 order-md-1">
            <h3 class="mb-3">Basic Information</h3>
            <form action= "/auth/tutor_register" method = "POST" class="needs-validation" enctype="multipart/form-data" >
          
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="cc-name">First Name</label>
                        <input type="text" class="form-control" id="f-name"  name="firstname" required>
                        <div class="invalid-feedback">
                            Name required
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="cc-number">Middle Name</label>
                        <input type="text" class="form-control" id="m-number" placeholder="" name="middlename">
                        
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="cc-number">Last Name</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" name="lastname">
                        <div class="invalid-feedback">
                            Citizenship number is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name= "username" required>
                        <div class="invalid-feedback">
                            Please enter the username!
                        </div>
                    </div>
                    
                    <div class="col-md-8 mb-3 my-2">
                        <label for="gender">Gender:</label>
                        <!-- <input type="text" class="form-control" id="gender" name= "gender" required> -->
                        <input type="radio" name="grpGender" value="Male" Checked>Male
                        <input type="radio" name="grpGender" value="Female">Female
                        <div class="invalid-feedback">
                            Please choose the gender!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username">Email Id</label>
                    <input type="text" class="form-control" id="email" name= "email" required>
                    <div class="invalid-feedback">
                        Please enter the email address!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your password is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username">Password Confirmation</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" placeholder="Confirm your password" name="passwordConfirm" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your password confirmation is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Eg: Butwal-8, Rupandehi" name= "address" required>
                    <div class="invalid-feedback">
                        Please enter your current full address.
                    </div>
                </div>
                

                
            
                <div class="mb-3">
                    <label for="address2">Contact Number</label>
                    <input type="text" class="form-control" id="address2" placeholder="Eg: 9867227502" name="contactNumber" required>
                    <div class="invalid-feedback">
                        Please enter your phone number
                    </div>
                </div>
            
                <div class="mb-3">
                    <label for="picture">Upload your Picture:</label>
                    <input type="file" class="img-upload-btn" id="picture" name="tutorPicture" accept="image/*">
                </div>
            
                <div class="mb-3">
                    <label for="address">Subjects</label>
                    <input type="text" class="form-control" id="address" placeholder="Please enter your subject expertise (Seperate each subject with comma (,)" name="subject" required>
                    <div class="invalid-feedback">
                        Please enter your subject expertise (Seperate each subject with comma ',').
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Teaching Experience (Eg: 5)</label>
                    <input type="text" class="form-control" id="address" name="experience" placeholder="How long have you been a teacher? (in years)" name="subject" required>
                    <div class="invalid-feedback">
                        How long have you been a teacher?
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Monthly Fee</label>
                    <input type="text" class="form-control" id="address" name="monthlyFee" placeholder="How much do you charge a month?" name="subject" required>
                    <div class="invalid-feedback">
                        How much do you charge a month?
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Availability</label>
                    <input type="text" class="form-control" name="availability" id="address" placeholder="Please enter your teaching schedule(days) details. Eg: Sunday-Friday" name="subject" required>
                    <div class="invalid-feedback">
                        Please enter your teaching hour details.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description">Your Bio (Describe yourself)</label>
                    <textarea class="form-control" id="description" placeholder="" value="" rows="14" name = "bio" required> </textarea>
                    <div class="invalid-feedback">
                        Bio is required.
                    </div>
                </div>
                
            </div>    

                <!-- education  -->
                <hr class="mb-4">
            
                <h3 class="mb-3">Education </h3>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="undergraduate-name">Please provide your latest education qualification.</label>
                        <input type="text" class="form-control" name="educationLevel" id="undergraduate-name" placeholder="collegename" required>
                        <div class="invalid-feedback">
                            Qualification info is required
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Grade">Score(GPA or Percentage):</label>
                        <input type="text" class="form-control" id="grade-college" placeholder="" name="collegegrade" required >
                        
                    </div>
                </div>
                <div class="mb-3">
                    <label for="picture">Upload gradesheet:</label>
                    <input type="file" class="img-upload-btn" id="gradesheet" name="collegegradesheet" >
                </div>

                <!-- graduate college
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="graduate-name">Graduate College Name(optional)</label>
                        <input type="text" class="form-control" id="graduate-name" placeholder="undergradcollegename" >
                        
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Grade">Grade:</label>
                        <input type="text" class="form-control" id="grade-college" placeholder="" name="undergradgrade" required >
                        
                    </div>
                </div>
                <div class="mb-3">
                    <label for="picture">Upload gradesheet:</label>
                    <input type="file" class="img-upload-btn" id="gradesheet" name="undergraduategradesheet">
                </div> -->
                <!-- verification for eligibility -->
                <hr class="mb-4">
            
                <h4 class="mb-3">Verification (Citizenship / Dirving Liscense) [Any One or both]</h4>
            
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on your Certificate</label>
                        <input type="text" class="form-control" id="cc-name" name="citizenshipName" placeholder="citizenshipName">
                        <small class="text-muted">Full name as displayed on certicicate</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Citizenship number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" name="citizenshipNumber">
                        <div class="invalid-feedback">
                            Citizenship number is required
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on your driving liscense</label>
                        <input type="text" class="form-control" id="cc-name" name="liscenceName" placeholder="licenseName">
                        <small class="text-muted">Full name as displayed on liscense</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Driving liscense number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" name="licenseNumber">
                        <div class="invalid-feedback">
                            liscense number is required
                        </div>
                    </div>
                </div>
                
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>

    
<!-- footer -->


<%- include("footer") -%>