

<%- include("header") -%>
<% if(typeof msg != 'undefined') { %>
    <% if (msg && msg.length > 0) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <% msg.forEach((mess) => { %>
            <p><%= mess %></p>
          <% }) %>
        </div>
      <% } %>
      <% } %>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3 class="login-header">Login As Tutor</h3>
            <form action= "/auth/tutor_login" method ="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Username" value="" id="username" name= "username"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password" value="" id="password" name="password"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    Not Registered?<a href="tutor_register" class="ForgetPwd"> Register Here</a>
                </div>
            </form>
        </div>
        
        <div class="col-md-6 login-form-2">
            <img src="/images/teacher.jpeg" alt="">
        </div>
    </div>
</div>
<script src="/location/findMyLocation.js"></script>

<%- include("footer") -%>